.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sentence--classlist {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 150px;
}

.sentence--classlist--class {
  padding: 1em;
  margin: .5em;
  background: white;
  color: block;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  border: 2px solid transparent;
  border-radius: 5px 5px;
  font-size: 120%;
}

.sentence--classlist--class:hover {
  border: 2px solid black;
}

.sentence--classlist--class:active {
  border: 2px solid orange;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,.5);
}
.sentence--classlist--class[data-selected="true"] {
  border: 2px solid blue;
}

.sentence {
  font-size: 200%;  
  line-height: 1.75;
  font-family: serif;
  padding: 1em 3em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sentence--window {
  color: rgb(75%,75%,75%);
}

#annotator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.sentence--actions button {
  margin: 0 1em;
  font-size: 120%;
}

.sentence--actions {
  flex: 0 0;
  padding: 1em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sentence {
  flex: 1;
}

.sentence--classlist {
  flex: 0 0;
}

.interface--hint {
  padding: 1em 0 0 0;
  font-size: 120%;
}