.random{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 12px;
  font-family: monospace;
  color: #2b2b2b;
  text-align: center;
  transition: 1s;
}

.random:hover{
  color: white;
  transform: translateX(-50px);
  transform: scale(1.6);
}

body{
  background-color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
}

.terminal{
  font-size: 20px;
  color: #2eff00;
  text-align: center;
  font-family: monospace;
}
